(function() {
  var template = Handlebars.template, templates = Handlebars.templates = Handlebars.templates || {};
templates['edit_forum'] = template(function (Handlebars,depth0,helpers,partials,data) {
  this.compilerInfo = [4,'>= 1.0.0'];
helpers = this.merge(helpers, Handlebars.helpers); data = data || {};
  var buffer = "", stack1, helper, options, helperMissing=helpers.helperMissing, escapeExpression=this.escapeExpression, functionType="function", self=this;

function program1(depth0,data) {
  
  var buffer = "", helper, options;
  buffer += "\n<input type=\"checkbox\" id=\"yaft_send_email_checkbox\" value=\"true\" checked/>"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "send_email_alert_label", options) : helperMissing.call(depth0, "translate", "send_email_alert_label", options)))
    + "\n<br />\n<br />\n";
  return buffer;
  }

function program3(depth0,data) {
  
  var buffer = "", stack1, helper, options;
  buffer += "\n<a id=\"yaft_toggle_group_options_link\" href=\"javascript:;\">"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "groups_box_label", options) : helperMissing.call(depth0, "translate", "groups_box_label", options)))
    + "</a>\n<br />\n<div id=\"yaft_group_options\" style=\"display:none;\">\n    <fieldset id=\"yaft_groups_fieldset\">\n        <legend>"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "groups_box_label", options) : helperMissing.call(depth0, "translate", "groups_box_label", options)))
    + "</legend>\n        <span class=\"instruction\">"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "limit_forum_to_groups_label", options) : helperMissing.call(depth0, "translate", "limit_forum_to_groups_label", options)))
    + "</span>\n        <br />\n        <br />\n        ";
  stack1 = helpers.each.call(depth0, (depth0 && depth0.siteGroups), {hash:{},inverse:self.noop,fn:self.program(4, program4, data),data:data});
  if(stack1 || stack1 === 0) { buffer += stack1; }
  buffer += "\n    </fieldset>\n</div>\n<br />\n";
  return buffer;
  }
function program4(depth0,data) {
  
  var buffer = "", stack1, helper;
  buffer += "\n        <input type=\"checkbox\" class=\"yaft_group_checkbox\" id=\"";
  if (helper = helpers.id) { stack1 = helper.call(depth0, {hash:{},data:data}); }
  else { helper = (depth0 && depth0.id); stack1 = typeof helper === functionType ? helper.call(depth0, {hash:{},data:data}) : helper; }
  buffer += escapeExpression(stack1)
    + "\" value=\"";
  if (helper = helpers.title) { stack1 = helper.call(depth0, {hash:{},data:data}); }
  else { helper = (depth0 && depth0.title); stack1 = typeof helper === functionType ? helper.call(depth0, {hash:{},data:data}) : helper; }
  buffer += escapeExpression(stack1)
    + "\"/>";
  if (helper = helpers.title) { stack1 = helper.call(depth0, {hash:{},data:data}); }
  else { helper = (depth0 && depth0.title); stack1 = typeof helper === functionType ? helper.call(depth0, {hash:{},data:data}) : helper; }
  buffer += escapeExpression(stack1)
    + "\n        <br />\n        ";
  return buffer;
  }

function program6(depth0,data) {
  
  var buffer = "";
  buffer += "\n            <option>"
    + escapeExpression((typeof depth0 === functionType ? depth0.apply(depth0) : depth0))
    + "</option>\n            ";
  return buffer;
  }

  buffer += "<div>\n<span class=\"instruction\">\n    "
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "create_forum_instruction", options) : helperMissing.call(depth0, "translate", "create_forum_instruction", options)))
    + "\n</span>\n<br />\n<br />\n</div>\n<div id=\"yaft_edit_forum_container\">\n<form>\n<input id=\"yaft_id_field\" type=\"hidden\" name=\"id\" value=\""
    + escapeExpression(((stack1 = ((stack1 = (depth0 && depth0.forum)),stack1 == null || stack1 === false ? stack1 : stack1.id)),typeof stack1 === functionType ? stack1.apply(depth0) : stack1))
    + "\"/>\n<table>\n<tr><td>"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "forum_title_label", options) : helperMissing.call(depth0, "translate", "forum_title_label", options)))
    + ": *</td><td><input id=\"yaft_title_field\" type=\"text\" name=\"title\" value=\""
    + escapeExpression(((stack1 = ((stack1 = (depth0 && depth0.forum)),stack1 == null || stack1 === false ? stack1 : stack1.title)),typeof stack1 === functionType ? stack1.apply(depth0) : stack1))
    + "\"/></td></tr>\n<tr><td>"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "description_label", options) : helperMissing.call(depth0, "translate", "description_label", options)))
    + "</td><td><input id=\"yaft_description_field\" type=\"text\" name=\"description\" maxlength=\"255\" value=\""
    + escapeExpression(((stack1 = ((stack1 = (depth0 && depth0.forum)),stack1 == null || stack1 === false ? stack1 : stack1.description)),typeof stack1 === functionType ? stack1.apply(depth0) : stack1))
    + "\"/></td></tr>\n</table>\n<br />\n";
  stack1 = helpers['if'].call(depth0, (depth0 && depth0.canSendAlerts), {hash:{},inverse:self.noop,fn:self.program(1, program1, data),data:data});
  if(stack1 || stack1 === 0) { buffer += stack1; }
  buffer += "\n";
  stack1 = helpers['if'].call(depth0, ((stack1 = (depth0 && depth0.siteGroups)),stack1 == null || stack1 === false ? stack1 : stack1.length), {hash:{},inverse:self.noop,fn:self.program(3, program3, data),data:data});
  if(stack1 || stack1 === 0) { buffer += stack1; }
  buffer += "\n\n<a id=\"yaft_toggle_availability_options_link\" href=\"javascript:;\">"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "availability_label", options) : helperMissing.call(depth0, "translate", "availability_label", options)))
    + "</a>\n<br />\n<div id=\"yaft_availability_options\" style=\"display:none;\">\n    <fieldset id=\"yaft_availability_fieldset\">\n        <legend>"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "availability_label", options) : helperMissing.call(depth0, "translate", "availability_label", options)))
    + "</legend>\n        <input type=\"checkbox\" id=\"yaft_lock_writing_checkbox\" name=\"lockWriting\" value=\"true\"/>"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "availability_lock_for_writing_label", options) : helperMissing.call(depth0, "translate", "availability_lock_for_writing_label", options)))
    + "\n        <br />\n        <input type=\"checkbox\" id=\"yaft_lock_reading_checkbox\" name=\"lockReading\" value=\"true\"/>"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "availability_lock_for_reading_label", options) : helperMissing.call(depth0, "translate", "availability_lock_for_reading_label", options)))
    + "\n        <br />\n        <br />\n        <input type=\"hidden\" name=\"startDate\" id=\"yaft_start_date_millis\"/>\n        <input type=\"hidden\" name=\"endDate\" id=\"yaft_end_date_millis\"/>\n        <span>"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "availability_except_between_label", options) : helperMissing.call(depth0, "translate", "availability_except_between_label", options)))
    + "</span>\n        <br />\n        <br />\n        <input id=\"yaft_start_date\" type=\"text\" name=\"startDate\"/>\n        <select id=\"yaft_start_hours\" name=\"startHour\">\n            ";
  stack1 = helpers.each.call(depth0, (depth0 && depth0.hours), {hash:{},inverse:self.noop,fn:self.program(6, program6, data),data:data});
  if(stack1 || stack1 === 0) { buffer += stack1; }
  buffer += "\n        </select>\n        <span>:</span>\n        <select id=\"yaft_start_minutes\" name=\"startMinute\">\n            ";
  stack1 = helpers.each.call(depth0, (depth0 && depth0.minutes), {hash:{},inverse:self.noop,fn:self.program(6, program6, data),data:data});
  if(stack1 || stack1 === 0) { buffer += stack1; }
  buffer += "\n        </select>\n        <br />\n        <br />\n        <span>"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "availability_except_between_and_label", options) : helperMissing.call(depth0, "translate", "availability_except_between_and_label", options)))
    + "</span>\n        <br />\n        <br />\n        <input id=\"yaft_end_date\" type=\"text\" name=\"endDate\"/>\n        <select id=\"yaft_end_hours\" name=\"endHour\">\n            ";
  stack1 = helpers.each.call(depth0, (depth0 && depth0.hours), {hash:{},inverse:self.noop,fn:self.program(6, program6, data),data:data});
  if(stack1 || stack1 === 0) { buffer += stack1; }
  buffer += "\n        </select>\n        <span>:</span>\n        <select id=\"yaft_end_minutes\" name=\"endMinute\">\n            ";
  stack1 = helpers.each.call(depth0, (depth0 && depth0.minutes), {hash:{},inverse:self.noop,fn:self.program(6, program6, data),data:data});
  if(stack1 || stack1 === 0) { buffer += stack1; }
  buffer += "\n        </select>\n        <br />\n        <br />\n        <a href=\"#\" onclick=\"yaft.utils.clearDates();\">"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "availability_clear_date_label", options) : helperMissing.call(depth0, "translate", "availability_clear_date_label", options)))
    + "</a>\n    </fieldset>\n    <br />\n</div>\n\n<br />\n<br />\n<input type=\"button\" id=\"yaft_forum_save_button\" value=\""
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "save_label", options) : helperMissing.call(depth0, "translate", "save_label", options)))
    + "\"/>\n<input type=\"button\" value=\""
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "cancel_label", options) : helperMissing.call(depth0, "translate", "cancel_label", options)))
    + "\" onclick=\"return yaft.switchState('forums');\"/>\n</form>\n</div>\n";
  return buffer;
  });
})();