(function() {
  var template = Handlebars.template, templates = Handlebars.templates = Handlebars.templates || {};
templates['edit_message_breadcrumb'] = template(function (Handlebars,depth0,helpers,partials,data) {
  this.compilerInfo = [4,'>= 1.0.0'];
helpers = this.merge(helpers, Handlebars.helpers); data = data || {};
  var buffer = "", stack1, helper, options, helperMissing=helpers.helperMissing, escapeExpression=this.escapeExpression, functionType="function", self=this;

function program1(depth0,data) {
  
  var helper, options;
  return escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "replying_to_label", options) : helperMissing.call(depth0, "translate", "replying_to_label", options)));
  }

function program3(depth0,data) {
  
  var helper, options;
  return escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "editing_label", options) : helperMissing.call(depth0, "translate", "editing_label", options)));
  }

  buffer += "<a href=\"/portal/tool/";
  if (helper = helpers.placementId) { stack1 = helper.call(depth0, {hash:{},data:data}); }
  else { helper = (depth0 && depth0.placementId); stack1 = typeof helper === functionType ? helper.call(depth0, {hash:{},data:data}) : helper; }
  buffer += escapeExpression(stack1)
    + "/forums\" onClick=\"return yaft.switchState('forums');\">"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "forums_label", options) : helperMissing.call(depth0, "translate", "forums_label", options)))
    + "</a>-&gt;<a href=\""
    + escapeExpression(((stack1 = ((stack1 = (depth0 && depth0.forum)),stack1 == null || stack1 === false ? stack1 : stack1.url)),typeof stack1 === functionType ? stack1.apply(depth0) : stack1))
    + "\" onClick=\"return yaft.switchState('forum');\">"
    + escapeExpression(((stack1 = ((stack1 = (depth0 && depth0.forum)),stack1 == null || stack1 === false ? stack1 : stack1.title)),typeof stack1 === functionType ? stack1.apply(depth0) : stack1))
    + "</a>-&gt;<a href=\""
    + escapeExpression(((stack1 = ((stack1 = (depth0 && depth0.discussion)),stack1 == null || stack1 === false ? stack1 : stack1.url)),typeof stack1 === functionType ? stack1.apply(depth0) : stack1))
    + "\" onClick=\"return yaft.switchState('discussion');\">"
    + escapeExpression(((stack1 = ((stack1 = (depth0 && depth0.discussion)),stack1 == null || stack1 === false ? stack1 : stack1.subject)),typeof stack1 === functionType ? stack1.apply(depth0) : stack1))
    + "</a>-&gt;";
  stack1 = helpers['if'].call(depth0, (depth0 && depth0.replying), {hash:{},inverse:self.program(3, program3, data),fn:self.program(1, program1, data),data:data});
  if(stack1 || stack1 === 0) { buffer += stack1; }
  if (helper = helpers.subject) { stack1 = helper.call(depth0, {hash:{},data:data}); }
  else { helper = (depth0 && depth0.subject); stack1 = typeof helper === functionType ? helper.call(depth0, {hash:{},data:data}) : helper; }
  buffer += escapeExpression(stack1)
    + "\n";
  return buffer;
  });
})();