(function() {
  var template = Handlebars.template, templates = Handlebars.templates = Handlebars.templates || {};
templates['toolbar'] = template(function (Handlebars,depth0,helpers,partials,data) {
  this.compilerInfo = [4,'>= 1.0.0'];
helpers = this.merge(helpers, Handlebars.helpers); data = data || {};
  var buffer = "", helper, options, helperMissing=helpers.helperMissing, escapeExpression=this.escapeExpression;


  buffer += "    <li id=\"yaft_home_link\" role=\"menuitem\"><span class=\"firstToolBarItem current\"><a title=\""
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "home_tooltip", options) : helperMissing.call(depth0, "translate", "home_tooltip", options)))
    + "\" href=\"javascript:;\">"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "home_label", options) : helperMissing.call(depth0, "translate", "home_label", options)))
    + "</a></span></li>\n    <li id=\"yaft_add_forum_link\" role=\"menuitem\"><span><a title=\""
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "add_forum_tooltip", options) : helperMissing.call(depth0, "translate", "add_forum_tooltip", options)))
    + "\" href=\"javascript:;\">"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "new_forum_label", options) : helperMissing.call(depth0, "translate", "new_forum_label", options)))
    + "</a></span></li>\n    <li id=\"yaft_add_discussion_link\" role=\"menuitem\"><span><a title=\""
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "add_discussion_tooltip", options) : helperMissing.call(depth0, "translate", "add_discussion_tooltip", options)))
    + "\" href=\"javascript:;\">"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "new_discussion_label", options) : helperMissing.call(depth0, "translate", "new_discussion_label", options)))
    + "</a></span></li>\n    <li id=\"yaft_minimal_link\" role=\"menuitem\"><span><a title=\""
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "minimal_tooltip", options) : helperMissing.call(depth0, "translate", "minimal_tooltip", options)))
    + "\" href=\"javascript:;\">"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "minimal_label", options) : helperMissing.call(depth0, "translate", "minimal_label", options)))
    + "</a></span></li>\n    <li id=\"yaft_full_link\" role=\"menuitem\"><span><a title=\""
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "full_tooltip", options) : helperMissing.call(depth0, "translate", "full_tooltip", options)))
    + "\" href=\"javascript:;\">"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "full_label", options) : helperMissing.call(depth0, "translate", "full_label", options)))
    + "</a></span></li>\n    <li id=\"yaft_show_deleted_link\" role=\"menuitem\"><span><a title=\""
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "show_deleted_tooltip", options) : helperMissing.call(depth0, "translate", "show_deleted_tooltip", options)))
    + "\" href=\"javascript:;\">"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "show_deleted_label", options) : helperMissing.call(depth0, "translate", "show_deleted_label", options)))
    + "</a></span></li>\n    <li id=\"yaft_hide_deleted_link\" role=\"menuitem\"><span><a title=\""
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "hide_deleted_tooltip", options) : helperMissing.call(depth0, "translate", "hide_deleted_tooltip", options)))
    + "\" href=\"javascript:;\">"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "hide_deleted_label", options) : helperMissing.call(depth0, "translate", "hide_deleted_label", options)))
    + "</a></span></li>\n    <li id=\"yaft_authors_view_link\" role=\"menuitem\"><span><a title=\""
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "authors_view_tooltip", options) : helperMissing.call(depth0, "translate", "authors_view_tooltip", options)))
    + "\" href=\"javascript:;\">"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "authors_label", options) : helperMissing.call(depth0, "translate", "authors_label", options)))
    + "</a></span></li>\n    <li id=\"yaft_permissions_link\" role=\"menuitem\"><span><a title=\""
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "permissions_tooltip", options) : helperMissing.call(depth0, "translate", "permissions_tooltip", options)))
    + "\" href=\"javascript:;\">"
    + escapeExpression((helper = helpers.translate || (depth0 && depth0.translate),options={hash:{},data:data},helper ? helper.call(depth0, "permissions_label", options) : helperMissing.call(depth0, "translate", "permissions_label", options)))
    + "</a></span></li>\n";
  return buffer;
  });
})();