<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  
      xmlns="http://www.w3.org/1999/xhtml"  
      xml:lang="${isoLanguage}"
      lang="${isoLanguage}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript">

    var yaft = {
        startupArgs: {
            userId: '$!{userId}',
            siteId: '$!{siteId}',
            placementId: '$!{placementId}',
            state: '$!{state}',
            editor: '$!{editor}',
            forumId: '$!{forumId}',
            viewMode: '$!{viewMode}',
            discussionId: '$!{discussionId}',
            messageId: '$!{messageId}',
            onPDAPortal: $!{onPDAPortal}
        }
    };
    
</script>
${sakaiHtmlHead}
<link rel="stylesheet" type="text/css" href="/yaft-tool/js/jquery-ui/css/smoothness/jquery-ui-1.10.4.custom.min.css" />
<link rel="stylesheet" type="text/css" href="/profile2-tool/css/profile2-profile-entity.css" media="all" />
<link rel="stylesheet" type="text/css" href="/yaft-tool/css/jquery.datetimepicker.css" />
<link rel="stylesheet" type="text/css" href="/yaft-tool/css/yaft.css" />
<script type="text/javascript" src="/yaft-tool/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/yaft-tool/js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/yaft-tool/js/jquery.cluetip.min.js"></script>
<script type="text/javascript" src="/yaft-tool/js/jquery.hoverIntent.minified.js"></script>
<script type="text/javascript" src="/yaft-tool/js/jquery.MultiFile.pack.js"></script>
<script type="text/javascript" src="/yaft-tool/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/yaft-tool/js/jquery.form.min.js"></script>
<script type="text/javascript" src="/yaft-tool/js/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/yaft-tool/js/handlebars.runtime-v1.3.0.js"></script>

<!-- HANDLEBARS TEMPLATES START -->
<script type="text/javascript" src="/yaft-tool/templates/toolbar.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/forums.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/forum_breadcrumb.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/forum.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/move_discussion_breadcrumb.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/move_discussion.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/start_discussion_breadcrumb.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/permissions_breadcrumb.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/discussion_breadcrumb.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/edit_forum_breadcrumb.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/message_view_breadcrumb.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/edit_message_breadcrumb.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/authors.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/authors_breadcrumb.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/author_messages_breadcrumb.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/author_messages.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/edit_message.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/start_discussion.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/edit_forum.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/permissions.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/message.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/reply_message.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/discussion.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/minimised_discussion.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/message_partial.handlebars"></script>
<script type="text/javascript" src="/yaft-tool/templates/minimised_message_partial.handlebars"></script>
<!-- HANDLEBARS TEMPLATES END -->

<script type="text/javascript" src="/yaft-tool/js/sakaiutils.js"></script>
<script type="text/javascript" src="/yaft-tool/js/yaftpermissions.js"></script>
<script type="text/javascript" src="/yaft-tool/js/yaftutils.js"></script>
<script type="text/javascript" src="/profile2-tool/javascript/profile2-eb.js"></script>
<script type="text/javascript" src="/yaft-tool/yaft-translations-en_GB.js"></script>
<script type="text/javascript" src="/yaft-tool/yaft-translations-${isoLanguage}.js"></script>
</head>
<body>

    <div class="portletBody">

        <ul id="yaft_toolbar" class="navIntraTool actionToolBar" role="menu"></ul>
        <br />
        <div id="yaft_container">
            <div id="yaft_breadcrumb"></div>
            <br />
            <div id="yaft_feedback_message"></div>
            <br />
            <div id="yaft_content"></div>
        </div>

    </div> <!-- /portletBody-->

    <script type="text/javascript" src="/yaft-tool/js/yaft.js"></script>
    <link rel="stylesheet" type="text/css" href="/yaft-tool/css/jquery.cluetip.css" />

</body>
</html>
